/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: arial;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Life */
.container {
    margin: 0 auto;
    box-shadow: 2px 3px 83px #CCC;
    padding: 20px;
}

#menu {
    overflow: hidden;
}

#menu li {
    float: left;
    margin-right: 10px;
}

#grid {
    margin: 0 auto;
    margin-top: 20px;
    cursor: crosshair;
}

#grid li {
    overflow: hidden;
    transition: background-color 3s ease;
}

.survivor {
    display: inline-block;
    float: left;
    width: 20px; height: 20px;
    /*transition: background-color 2s ease;*/
}

/* Buttons */
.button {
    display: inline-block;
    background: green;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    font-family: arial;
    text-transform: uppercase;
    transition: background-color 1s ease,
                color 1s;
    cursor: pointer;
}

.button#stop {
    background: rgb(228, 14, 91);
}

.button#start:hover {
    background: #2BDA63;
}

.button#start:active {
    background: #AAE26D;
    color: green;
}

.button#stop:hover {
    background: rgb(228, 14, 194);
}

.button#colorize {
    background: #cb60b3; /* Old browsers */
    background: -moz-linear-gradient(left, #cb60b3 0%, #c146a1 35%, #a80077 61%, #db36a4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cb60b3), color-stop(35%,#c146a1), color-stop(61%,#a80077), color-stop(100%,#db36a4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #cb60b3 0%,#c146a1 35%,#a80077 61%,#db36a4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #cb60b3 0%,#c146a1 35%,#a80077 61%,#db36a4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #cb60b3 0%,#c146a1 35%,#a80077 61%,#db36a4 100%); /* IE10+ */
    background: linear-gradient(to right, #cb60b3 0%,#c146a1 35%,#a80077 61%,#db36a4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=1 ); /* IE6-9 */
}

.notice {
    color: #ccc;
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
    text-transform: capitalize;
}

.externalLink {
    display: inline-block;
    text-decoration: none;
    color: rgb(228, 14, 91);
    margin-bottom: 5px;
    font-size: 50px;
}

.externalLink:hover {
    text-decoration: underline;
}
